<div class="main-box">
    <ng-container *ngFor="let notes of notesArray">
        <div class="box" *ngIf="notes.isTrash == false && notes.isArchive == false">
            <mat-card class="card">
                <div (click)="updateNotes(notes);">
                    <h4>{{ notes.title }}</h4>
                    <h4>{{ notes.description }}</h4>
                </div>
                <app-icons (click)="getNoteId(notes.id);" [noteId]="noteId"></app-icons>
            </mat-card>
        </div>
    </ng-container>
</div>