mat-toolbar {
    background-color: white;
    height: 10%;
}

mat-sidenav-container {
    height: 100%;
}

.content {
    margin-top: 1%;
}

.nav-items {
    padding-left: 20px;
    padding-right: 20px;
}

.search-bar {
    width: 60%;
    padding-left: 15%;
    padding-top: 15px;
    overflow: hidden;
}

.profile {
    margin-left: 28%;
}

.line {
    width: 100%;
    border: 0.1px solid darkgrey;
}

.mat-menu {
    width: 160px;
    padding-left: 25px;
    margin-top: 10px;
    padding-right: 12px;
}

.mat-stroked-button {
    margin-left: 28px;
}
