mat-toolbar {
    background-color: white;
    height: 10%;
}

mat-sidenav-container {
    height: 100%;
}

.nav-items {
    padding-left: 30px;
    padding-right: 30px;
}

#search-bar {
    width: 600px;
    padding-left: 80px;
    padding-top: 15px;
}

#profile {
    padding-left: 30%;
}