<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <mat-card>
        <mat-card-header class="form-header">
            <mat-card-title fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="12px">
                <div>
                    <app-title></app-title>
                </div>
                <div>
                    <h1>Forgot your Fundoo Account password</h1>
                </div>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="form-content" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="6px">
            <div>
                <mat-form-field class="username" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" [formControl]="username" pattern="^[A-Za-z0-9]{3,}$" placeholder="Enter your username" matInput required>
                    <mat-error *ngIf="username.invalid">{{validateUsername()}}</mat-error>
                    <mat-error *ngIf="username.errors?.pattern">Only numbers & alphabets are allowed. Minimum length should be three.</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions class="form-actions" fxLayout="row" fxLayoutAlign="end">
            <button type="submit" (click)="submit()" mat-raised-button color="primary">Submit</button>
        </mat-card-actions>
    </mat-card>
</div>