<div class="main-box">
    <ng-container *ngFor="let notes of notesArray">
        <div class="box" *ngIf="notes.isTrash == false && notes.isArchive == true">
            <mat-card class="card">
                <h4>{{ notes.title }}</h4>
                <h4>{{ notes.description }}</h4>
                <div>
                    <button mat-icon-button class="icons" (click)="getNoteId(notes.id); unArchiveNote();">
                        <mat-icon fontSet="material-icons-outlined">unarchive</mat-icon>
                    </button>

                    <button mat-icon-button class="icons" (click)="getNoteId(notes.id); trashArchiveNote();">
                        <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </ng-container>
</div>